{
  "openapi": "3.0.0",
  "info": {
    "title": "Credit card lending survey results",
    "description": "For more details, refer the link: https://apidocs.hkma.gov.hk/documentation/market-data-and-statistics/monthly-statistical-bulletin/banking/credit-card-lending-survey",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/banking",
      "variables": {}
    }
  ],
  "paths": {
    "/credit-card-lending-survey": {
      "get": {
        "summary": "Retrieve data of Credit card lending survey results",
        "parameters": [
          {
            "name": "pagesize",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "column",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "choose",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortby",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortorder",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Sortorder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "500": {
            "description": "Unexcpeted error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Header": {
        "title": "Header",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "err_code": {
            "type": "string"
          },
          "err_msg": {
            "type": "string"
          }
        }
      },
      "Response": {
        "title": "response",
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "result": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "Result": {
        "title": "Result",
        "type": "object",
        "properties": {
          "datasize": {
            "type": "integer",
            "format": "int32"
          },
          "records": {
            "type": "array",
            "items": {
				"$ref": "#/components/schemas/Record"
            },
            "description": ""
          }
        }
      },
      "Record": {
        "title": "Record",
        "type": "object",
        "properties": {
          "end_of_quarter": {
            "type": "string",
            "format": "date"
          },
          "endperiod_noofaccts": {
            "type": "number"
          },
          "endperiod_delinquent_amt": {
            "type": "number"
          },
          "during_chargeoff_amt": {
            "type": "number"
          },
          "during_rollover_amt": {
            "type": "number"
          },
          "during_avg_total_receivables": {
            "type": "number"
          }
        }
      },
      "Sortorder": {
        "title": "sortorder",
        "enum": [
          "asc",
          "desc"
        ],
        "type": "string",
        "example": "asc",
        "x-enum-elements": [
          {
            "name": "asc",
            "description": ""
          },
          {
            "name": "desc",
            "description": ""
          }
        ]
      },
      "ErrorResponse": {
        "title": "errorResponse",
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          }
        }
      }
    }
  }
}